<div id="row">
<div class="col-lg-3">
  <ul class="nav nav-tab">
    <li class="active"><a href="#item 1" data-toggle="tab">Item 1</a></li>
    <li><a href="#item 2" data-toggle="tab">Item 2</a></li>
    <li><a href="#item 3" data-toggle="tab">Item 3</a></li>
  </ul>
</div>
  <div class="col-lg-9">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam adipisci, quibusdam enim suscipit sequi sint velit odio animi quae, veritatis repudiandae reiciendis ut, nobis sed dolorem iste dolorum quis. Fugit.
  </div>
</div>