<h3>{{name}}</h3>
<div class="description">{{description}}</div>
<div class="pull-right"><button class="btn btn-primary edit">Edit</button>
<div class="pull-right"><button class="btn btn-danger destroy">Delete</button></div>